*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
 
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  padding: 24px 0;
  
}

.studio-logo {
  color: #2e2f42;
}

.studio-logo-bottom {
  color: #f4f4fd;
}

.frontpage-section {
  
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/Mobile/hero-x1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}


.studio-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  padding: 24px 0;
}

.link-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  

}


.current {
  color: #404bbf;
}

.current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  color: #4d5ae5;
  background-color: #404bbf;
  border-radius: 2px;
}



.adress-bar {
  display: none;
}

.adress-item-set {
  display: none;
  
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover {
  color: #404bbf;
}

.contact:focus {
  color: #404bbf;
}

.header-logo {
  max-width: 216px;
  text-align: center;
  margin: 0 auto 72px auto;
  color: #fff;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}


/* ================ Mobile Header =========== */

.mobile-header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.logo,
.mobile-header-btn {
  padding: 16px;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: hidden;
  opacity: 1;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 72px 16px 40px; 
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 0;
  visibility: visible;
  
}

.mobile-menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: #fdfdff;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:focus,
.mobile-menu-close-btn:hover  {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-nav {
  margin-bottom: 168px;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-link {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 16px;
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus  {
  color: #404bbf;
}

.mobile-menu-nav-link:active {
  color: #404bbf;
}

.mobile-menu-address-bar {
  margin-bottom: 48px;

}

.mobile-menu-contact-item-set {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu-contact-link {
  display: inline-block;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-style: normal;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 18px;
}
.mobile-menu-contact-link:hover,
.mobile-menu-contact-link:focus  {
  color: #404bbf;
}
.mobile-menu-social-set {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.mmobile-menu-social-item {
  width: 40px;
  height: 40px;
}
.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
  background-color: #404bbf;
}
.mobile-menu-social-icon {
  fill: #f4f4fd;
}



.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
}


.team-head {
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.prf-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pref-head-minor {
  text-align: center;
  margin-bottom: 8px;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-transform: none;
}

.pref-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
  line-height: 1.5em;
}

.team-head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-item {
  width: 264px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolios-links {
  text-align: center;
}

.profession {
  margin-bottom: 8px;
  font-weight: 400;
}

.profession-app {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
  line-height: 1.5em;
}

.profession-app:hover {
  transform: translateY(0%);
}

.team-list {
  padding: 32px 0;
  text-align: center;
}

.app-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    
}

.header-container {
  display: flex;
  align-items: center;
  margin: 0 0;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.studio-logo-footer {
  font-family: "Raleway" sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #f4f4fd;
}

.footer-text {
  text-align: left;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  font-weight: normal;
  line-height: 1.5;
  font-size: 16px;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.portfolio-item-set {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.portfolio-item:hover .overflow-text  {
  
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}




.nav-item-set {
  display: none;
  
}

.nav-item:last-child {
  margin-right: 0;
}

.team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-item-set {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 72px 28px;
  width: calc(100% - 24px);
  margin: 0 auto;
}

.pref-item-set {
  display: flex;
  flex-direction: column;
  gap: 72px;

  
}

.pref-item {
  width: 100%;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.app-list-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.pref-section {
  padding: 120px 0;
}

.team-social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.team-social-icons-li {
  width: 40px;
  height: 40px;
  margin: 0;
}

.team-social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social-links-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: #f4f4fd;
}

.team-social-links-icons:hover,
.team-social-links-icons:focus {
  background-color: #404bbf;
}

.pref-icons-set {
  height: auto;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(142, 143, 153, 1);
  background-color: rgba(244, 244, 253, 1);
  border-radius: 4px;
  padding: 24px 100px;
  height: 112px;
}

.overflow {
  position: relative;
  overflow: hidden;
}

.overflow-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-content {
  margin-right: 120px;
}

.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-media-set {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-media-set-links {
  width: 40px;
  height: 40px;
}

.footer-social-media-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-link:hover {
  background-color: #31d0aa;
}

.footer-social-media-link:focus {
  background-color: #31d0aa;
}

.footer-svg {
  fill: #f4f4fd;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
 
}

.input-label-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-label{
  gap: 24px;
  display: flex;
  flex-direction: row;
}

.footer-email-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em; 
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
  border-radius: 4px;
  color: #ffffff;
  padding-left: 16px; 
  
  
}



.footer-btn {
  min-width: 165px;
  height: 40px;
  display: flex; 
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
  padding: 8px 24px;  
}



.footer-btn:hover {
background-color: #404bbf;
}

.footer-btn:focus {
background-color: #404bbf;}



.footer-subscribe-icon {
  margin-left: 16px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  



/* ====================== Modal window ======================== */

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}



.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px; 
  background: #fcfcfc; 
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
    
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc; 
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.modal-close-btn:hover, .modal-close-btn:focus {
  background-color: #404bbf;
  border: none; 
  fill: #ffffff;

}

.icon-close {
  fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover, .icon-close:focus {
  fill: #ffffff;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #2E2F42;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.form-content {
  margin-bottom: 8px;
}

.input-name-container{
  margin-bottom: 8px;
}

.complex-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  
}

.input-container {
  position: relative;
 }

 .input {
  width: 100%;
height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4); 
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: #4D5AE5;
  fill: #4D5AE5; 
}



.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .input-icon {
  fill:#4D5AE5;
}

.input-icon:focus {
  fill: #4d5ae5;
} 

.textarea-class {
  margin-bottom: 16px}

.comment-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4); 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.comment-textarea:focus {
  border-color: #4D5AE5;

}

.checkbox-container {
  margin-bottom: 24px;
  
  
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em; 
  color: #8e8f99;
  white-space: nowrap;
  position: relative;
  
}

.chechbox-user {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.chechbox-user:checked + .checkbox-label .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
  
}



.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.checkbox-link {
  color: #4d5ae5;
}

.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  margin: 0 auto;
  border-radius: 4px;

}

.modal-button:hover {
  background-color: #404bbf;
}

.modal-button:focus {
  background-color: #404bbf;}

  /*=========================== Media =========================  */

  @media (min-resolution: 192dpi) and (min-width: 320px) {
    .hero {
      background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/Mobile/hero-x2.jpg");
    }
  }
  @media (min-resolution: 192dpi) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/Tablet/hero-x2.jpg");
    }
  }
  @media (min-resolution: 192dpi) and (min-width: 1158px) {
    .hero {
      background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/Desk/hero-x1.jpg");
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
      margin: 0 auto;
      padding: 0 16px;
  }
    .nav-bar {
      display: flex;
      align-items: center;
    }
    .logo {
      margin-right: 120px;
      padding: 16px 0;
    }
    .nav-item-set {
      display: flex;
      gap: 40px;
    }
    .studio-link.current{
      font-weight: 500;
      letter-spacing: 0.02em;
      color: #2e2f42;
      padding: 24px 0;
      display: inline-block;
      position: relative;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .studio-link.current:hover,
    .studio-link.current:focus {
      color: #404bbf;
    }
  
   .studio-link.current {
      color: #404bbf;
    }
    .studio-link.current::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #404bbf;
    }
    .adress-bar {
      display: block;
      font-style: normal;
    }
    
    .adress-item-set {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    .contact {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #434455;
      padding: 0;
      display: inline-block;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contact:hover,
    .contact:focus {
      color: #404bbf;
    }
  
    .mobile-header-btn {
      display: none;
    }
    .mobile-menu {
      display: none;
    }
    
    .frontpage-section {
      padding: 112px 0;
      background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/Tablet/hero-x1.jpg");
    }

    .pref-head-minor {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
    }

    .pref-head-minor {
      text-align: left;
    }
  
    .profession,
    .profession-app {
      font-weight: 400;
    }
    
    .header-logo {
      font-size: 56px;
      line-height: 1.07;
      max-width: 496px;
      margin: 0 auto 36px auto;
    }

    .pref-item-set {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 72px 24px;
      justify-content: center;
    }

    .pref-item {
      width: calc((100% - 24px) / 2);
  
    }
  
    
    .team-item-set {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 64px 24px;
    }
  
    .list-item {
      max-width: calc((100% - 24px) / 2);
      margin: 0 0;
    }
  
    .portfolio-item-set {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 72px 24px;
    }

    .portfolio-item {
      max-width: calc((100% - 24px) / 2);
      margin: 0 0;
    }

    .footer-container {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 72px 24px;
      padding-left: 108px;
      text-align: left;
    }

    .footer-text {
      text-align: left;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  font-weight: normal;
  line-height: 1.5;
  font-size: 16px;
    }

    .footer-form {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

    .modal {
      width: 408px;
      min-height: 584px;
      padding: 72px 24px 24px 24px;
    }
  }
  
  @media (min-width: 1158px) {
    .container {
      max-width: 1158px;
      margin: 0 auto;
      padding: 0 16px;
  }
  
   .header {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #e7e9fc;
      box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
      
  }
  
  .nav-bar {
      display: flex;
    margin: 0;
  }

  .logo {
      margin-right: 76px;
  }

  .studio-logo {
      color: #2e2f42;
  }

  .adress-item-set {
      display: flex;
      flex-direction: row;
      gap: 40px;
      
  }
  .last-secondary-link {
    margin-right: 302px;
  }

  .adress-bar {
    margin: 0;
  }

  .contact {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section {
      padding: 120px 0;
  }
  .frontpage-section {
      padding: 188px 0;
      background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/desktop/hero-x1.jpg");
    }


  .header-logo {
    font-size: 56px;
    margin: 0 auto 48px auto;
    }

    .pref-head-minor {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    }

    .pref-text {
      letter-spacing: 0.01em;
      font-weight: normal;
      font-size: 16px;
      text-align: left;
      line-height: 24px;
      font-weight: 400;
    }

  .pref-item-set {
      display: flex;
      gap: 24px;
  }

  .pref-item {
    width: calc((100% - 72px) / 4);
  }
  
  .pref-icons-set {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(142, 143, 153, 1);
      background-color: rgba(244, 244, 253, 1);
      border-radius: 4px 4px 4px 4px;
      margin-bottom: 8px;
      padding: 24px 100px;
      height: 112px;
  }

  .pref-icons-set:hover,
  .pref-icons-set:focus {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  
  .team-item-set {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .profession {
    font-weight: 400;
  }

  .footer-container {
    padding: 0;
  }

  .profession-app {
  font-weight: 400;
  }

  .portfolio-item-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-container {
    align-items: baseline;
    gap: 0;
    padding-left: 0;
    text-align: left;
  }

  .footer-content {
    margin-right: 120px;
  }

  .footer-social-media {
    margin-right: 80px;
  }
  }

  .footer-text {
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }















